<div fxLayout="column" class="zero fullScreen" fxLayoutAlign="center center">
    <div fxFlex="33" class="one">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{profile.username}}</mat-card-title>
          <mat-card-subtitle>{{profile.university.name}}</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/images/profile-placeholder.jpg" alt="profile photo" *ngIf="!profile.photo" class="image">
        <img mat-card-image [src]="this.gs.formImageLink(profile.photo)" alt="" *ngIf="profile.photo">
        <mat-card-content>
          <p>{{profile.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>
