<mat-card>
    <mat-card-title>{{friend.username}}</mat-card-title>
    <mat-card-content>
      
      <img [src]="this.gs.formImageLink(friend.profile.photo)" alt="profile photo" *ngIf="friend.profile.photo" class="image">
      <mat-card-subtitle>
        {{friend.university}}
      </mat-card-subtitle>
    </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="addFriend()" [disabled]="disabled">Add friend</button>
        <button mat-raised-button (click)="openProfile()" [disabled]="disabled">View profile</button>
      </mat-card-actions>
  </mat-card>
  