<mat-card-header>
        <div mat-card-avatar class="pointer" (click)="file.click()">
          <input type="file" (change)="onFileChange($event)" accept="image/*" #file hidden>
          <i class="material-icons" *ngIf="!profile.photo">account_circle</i>
          <img mat-card-avatar [src]="this.gs.formImageLink(profile.photo)" alt="" *ngIf="profile.photo" class="image">
        </div>
        <mat-card-title>User profile</mat-card-title>
</mat-card-header>
<mat-card-content>
        <form class="example-form" fxLayout="column">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" [(ngModel)]="profile.firstname" name="firstname">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]="profile.lastname" name="lastname">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="profile.username" name="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>University</mat-label>
            <mat-select [(ngModel)]="profile.university" name="university">
              <mat-option *ngFor="let university of universities" [value]="university">{{university.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="About me" [(ngModel)]="profile.description" name="description"></textarea>
          </mat-form-field>
        </form>
        <button mat-raised-button type="submit" (click)="onSubmit()" color="primary">
          Save
        </button>
</mat-card-content>
<mat-card-footer>
</mat-card-footer>


