<mat-card-title>Sign in</mat-card-title>
<mat-card-content>
  <form class="example-form" fxLayout="column">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [(ngModel)]="credentials.email" name="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="login()" color="primary">
    Login
  </button>
</mat-card-content>
