<div fxLayout="column" class="create">
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>What's on your mind?</mat-label>
        <textarea class="textarea" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize" name="text" matInput placeholder="Share with everyone!"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"
                  cols="100"
                  [(ngModel)]="post.text"></textarea>
      </mat-form-field>

      <div mat-card-avatar class="pointer" (click)="file.click()">
        <input type="file" (change)="onFileChange($event)" accept="image/*" #file hidden>
        <i class="material-icons" fxFlexAlign="end">add_photo_alternate</i>
      </div>
    </form>
  </div>
  <button mat-raised-button (click)="submit()" class="but" color="primary">Submit</button>
</div>
