<mat-card class="example-card">
  <mat-card-header *ngIf="post.author.profile">
    <img mat-card-image [src]="this.gs.formImageLink(post.author.profile.photo)" *ngIf="post.author.profile.photo" class="example-header-image"   mat-card-avatar>
    <img src="../../../assets/images/profile_icon.png" alt="profile-image" class="example-header-image" mat-card-avatar *ngIf="!post.author.profile.photo">
    <mat-card-title>{{post.author.profile.firstname + " " + post.author.profile.lastname}}</mat-card-title>
    <mat-card-subtitle *ngIf="post.author.profile.university">{{post.author.profile.university.name}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="this.gs.formImageLink(post.image)" *ngIf="post.image">
  <mat-card-content>
    <p>
      {{post.text}}
    </p>
    <mat-card-footer class="stats">
      <div>
        <p>{{post.likes.length}} likes</p>
      </div>
    </mat-card-footer>
  </mat-card-content>
  <mat-card-actions >
    <div [class.alternate-button]="liked">
      <button mat-button (click)="like()" class="primary">{{liked? 'UNLIKE' : 'LIKE'}}</button>
      <button mat-button (click)="openComments()" class="primary">Comments</button>
    </div>
  </mat-card-actions>
</mat-card>
